$light-blue: #1c8cd8;
$black: #000000;
$white: #ffffff;
$dirty-white: #c9c9c9;
$light-gray: rgba(220, 220, 220, 0.175);
$dark-gray: #191919;

$font-xs: 0.5em;
$font-sm: 0.7em;
$font-md: 0.9em;
$font-lg: 1em;
$font-xl: 1.2em;

$icon-sm: 0.8em;
$icon-md: 1.2em;
$icon-lg: 1.6em;
$icon-xl: 2em;
