$light-blue: #209bf0;
$dark-blue: #15202b;
$smooth-blue: #1c2731;
$white: #ffffff;
$dirty-white: #c9c9c9;
$light-gray: rgba(220, 220, 220, 0.175);
$dark-gray: #191919;
$red: #f91880;

$font-xs: 0.5em;
$font-sm: 0.7em;
$font-md: 0.9em;
$font-lg: 1em;
$font-xl: 1.2em;

$icon-sm: 0.8em;
$icon-md: 1.2em;
$icon-lg: 1.6em;
$icon-xl: 1.7em;
