.spinner {
  width: 100%;
  padding: 1em 0;
  .spin {
    border-radius: 50%;
    border: 2px solid $light-blue;
    border-right: 2px solid transparent;
    width: 3em;
    height: 3em;

    animation: spin 0.4s linear infinite;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
